/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cmn-class */
body {
    font-family: "DM Sans", sans-serif;
    /* overflow-x: hidden; */
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.cmn-btn {
    display: inline-block;
    padding: 20px 24px;
    background-color: var(--bg-secondary);
    color: var(--bg-main);
    border-radius: 50px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition-default);
}

.cmn-btn:hover {
    background-color: #6f4f6f;
}

h1,
.heading-1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-primary);
    margin-bottom: 22px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

h2,
.heading-2 {
    font-size: 50px;
    font-weight: 200;
    line-height: 1.2;
    color: var(--text-primary);
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

h3,
.heading-3 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--text-secondary);
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

p,
.paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-primary);
}

.cmn-gap {
    padding: 80px 0;
}

:root {
    --bg-main: #FFFFFF;
    --bg-secondary: #AA6AAA;
    --bg-3rd-color: #8A737D;
    --text-primary: #000000;
    --transition-default: all 0.3s ease;
}



/* header-sec */
.header {
    position: relative;
    padding: 16px 0;
}

.header .container {
    max-width: 1400px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.nav-links a {
    text-transform: capitalize;
    color: var(--text-primary);
    font-size: 16px;
    display: block;
}

.nav-links a:hover {
    color: #AA6AAA;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-links li {
    margin-right: 40px;
}

.menu-bar {
    display: none;
}

.logo {
    width: 180px;
    position: absolute;
    top: 0;
    left: 75px;
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
}

.contact-btn {
    padding: 16px 14px;
    background-color: #E5DCE5;
    color: var(--text-primary);
}

.contact-btn:hover {
    background-color: #b1adb1;
    color: var(--text-primary);
}

/* banner-sec */

.banner-child p {
    margin-bottom: 30px;
}

.banner-inner-text {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}

.banner-child {
    background: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.banner-nd-img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px 10px 0 10px;
    border: 2px solid white;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.455);
}

.banner-nd-img img {
    display: block;
}

/* about-sec */

.about-child {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.about-left,
.about-right {
    width: 50%;
    padding: 0 30px;
}

.about-left h2 {
    margin-bottom: 60px;

}

.about-right-inner-text p {
    margin-bottom: 60px;
    line-height: 1.5;
}

.about-right-inner-text {
    padding: 50px 0;
}

.about-left-img,
.about-left-img {
    display: block;
}

.about-left-img img,
.about-left-img img {
    display: block;
}

/* build-sec */
.build-sec {
    background-color: #f3f0f585;
}

.card-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmn-card {
    width: calc(25% - 20px);
    border-radius: 12px;
    margin-bottom: 20px;
}

.cmn-card-text {
    padding: 57px 30px 30px 30px;
    background-color: #EAE4EA;
}

.cmn-card-text .card-text-btn {
    background-color: #EAE4EA;
    color: #000000;
}

.cmn-card-text .card-text-btn i {
    margin-left: 5px;
}

.cmn-card-text-2 .card-text-btn i {
    margin-left: 5px;
}

.cmn-card-text .card-text-btn:hover {
    background-color: #8f8b8f8c;
}

.cmn-card-text-2 {
    padding: 57px 30px 30px 30px;
    background-color: var(--bg-secondary);
}

.cmn-card-text-2 h3 {
    color: white;
    margin-bottom: 30px;
}

.cmn-card-text-2 p {
    color: white;
    margin-bottom: 50px;
}

.cmn-card-text h3 {
    margin-bottom: 30px;
}

.cmn-card-text p {
    margin-bottom: 50px;
}

.cmn-card .card-img {
    object-fit: cover;
}

.build-sec-child h2 {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 47px;
}

/* testimonial-sec */
.test-child {
    max-width: 80%;
    position: relative;
    margin: 0 auto;
}

.testimonial-tag {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 20px;
    text-transform: capitalize;
    border: 1px solid rgba(121, 118, 118, 0.647);
    color: #000000;
    margin-bottom: 35px;
}

.testimonial-head {
    text-align: center;
}

.testimonial-img {
    padding: 20px;
    /* width: 33.33%; */

}

.testimonial-slider {
    max-width: 70%;
    margin: 0 auto;
}

.slick-prev-custom,
.slick-next-custom {
    padding: 20px;
    background-color: var(--bg-main);
    border-radius: 50%;
}

.slick-next-custom {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.723);

}

.slick-prev-custom {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    box-shadow: 3px 3px 15px rgba(128, 128, 128, 0.723);
}

.slick-next-custom:hover {
    background-color: #AA6AAA;
    color: white;
    transition: var(--transition-default);
}

.slick-prev-custom:hover {
    background-color: #AA6AAA;
    color: white;
    transition: var(--transition-default);
}

.testimonial-slider-section {
    padding-bottom: 30px;
}

.testimonial-text {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.testimonial-text p {
    margin-bottom: 30px;
}

.name-text {
    display: inline-block;
    color: #AA6AAA;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
}

.designation {
    text-transform: capitalize;
    font-size: 16px;
}

/* footer-sec */
.footer-sec {
    background-color: #18212D;
    padding: 100px 0 40px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-child {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    width: 200px;
    display: block;
    cursor: pointer;
}

.footer-logo img {
    display: block;
}

.cmn-footer {
    width: 25%;
    padding: 0 15px;
}

.heading-line {
    max-width: 70px;
    margin-bottom: 30px;
}

.footer-heading {
    color: var(--bg-main);
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-links li {
    margin-bottom: 20px;
}

.footer-links li a {
    display: block;
    text-transform: capitalize;
    color: var(--bg-main);
    transition: var(--transition-default);
}

.footer-links li a:hover {
    color: #AA6AAA;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
}

.social-icons li {
    background-color: #E5DCE5;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-default);
    margin-right: 10px;
}

.social-icons li i {
    font-size: 22px;
}

.social-icons li:hover {
    transform: scale(1.1);
}

.newsletter-form {
    margin-bottom: 20px;
}

.newsletter-form input {
    padding: 12px 12px;
    border-radius: 20px;
    background-color: transparent;
}

::placeholder {
    font-size: 16px;
    color: var(--bg-main);
}

.sign-up-btn {
    color: var(--bg-main);
    cursor: pointer;
    border: 1px solid white;
    font-size: 16px;
    transition: var(--transition-default);
}

.sign-up-btn:hover {
    color: #ffffff;
    background-color: #6f4f6f;
}

.copy-right {
    color: white;
    text-transform: capitalize;
}

.company {
    color: white;
    margin: 0 7px;
}

.company:hover {
    color: #AA6AAA;

}

.copy-right i {
    margin-right: 5px;
}

.footer-end {
    border-top: 1px solid white;
    text-align: center;
    padding-top: 20px;
}


/* media quaries */
@media (max-width: 1399.98px) {
    .logo {
        width: 193px;
        left: 60px;
    }

    .about-left h2 {
        margin-bottom: 30px;
    }

    .about-right-inner-text {
        padding: 30px 0;
    }

    .about-right-inner-text p {
        margin-bottom: 21px;
        line-height: 1.5;
    }

    .cmn-card-text {
        padding: 30px;
    }

    .cmn-card-text h3 {
        margin-bottom: 13px;
    }

    .cmn-card-text p {
        margin-bottom: 16px;
    }

    .cmn-card-text-2 {
        padding: 29px 30px 30px 30px;
    }

    .cmn-card-text-2 h3 {
        margin-bottom: 10px;
    }

    .cmn-card-text-2 p {
        margin-bottom: 10px;
    }
}

@media (max-width: 1199.98px) {
    .logo {
        width: 170px;
        left: 39px;
    }

    h1,
    .heading-1 {
        font-size: 46px;
    }

    .banner-child p {
        margin-bottom: 25px;
    }

    .cmn-btn {
        padding: 15px 24px;
    }

    .about-child {
        max-width: 100%;
    }

    h2,
    .heading-2 {
        font-size: 40px;
    }

    .about-left,
    .about-right {
        padding: 0 20px;
    }

    .about-right-inner-text {
        padding: 15px 0;
    }

    .build-sec-child h2 {
        max-width: 71%;
        margin-bottom: 40px;
    }

    .cmn-card {
        width: calc(33.33% - 15px);
        border-radius: 12px;
        margin-bottom: 20px;
    }

    .cmn-card-text {
        padding: 15px;
    }

    .cmn-btn {
        padding: 12px 20px;
    }

    .cmn-card-text-2 {
        padding: 15px;
    }

    h3,
    .heading-3 {
        font-size: 24px;
    }

    .testimonial-text {
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
    }

}

@media (max-width: 991.98px) {
    .cmn-footer {
        width: 33.33%;
        padding: 15px;
    }

    .cmn-footer:nth-child(4) {
        width: 50%;

    }
}

@media (max-width: 767.98px) {
    .logo {
        width: 100px;
        left: 23px;
    }

    .nav-links li {
        margin-right: 10px;
    }

    .banner-inner-text {
        max-width: 90%;
    }

    h1,
    .heading-1 {
        font-size: 40px;
    }

    h2,
    .heading-2 {
        font-size: 31px;
    }

    .about-left,
    .about-right {
        width: 100%;
    }

    .about-left-img img,
    .about-left-img img {
        margin-bottom: 10px;
    }

    .cmn-card {
        width: calc(50% - 10px);
    }

    .slick-next-custom,
    .slick-prev-custom {
        top: 30%;
    }

    .cmn-footer {
        width: 50%;
        padding: 15px;
    }


}

@media (max-width: 575.98px) {
    .cmn-footer {
        width: 100%;
    }

    .cmn-footer:nth-child(4) {
        width: 100%;
    }

    .cmn-card {
        width: 100%;
    }

    .about-left,
    .about-right {
        padding: 0;
    }

    .nav-links {
        display: none;
    }

}